src/main/mule/jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cf79981b-d58c-4b4a-abc9-e73faef29083" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsFlow" doc:id="8147add5-39ea-4669-8c6b-0b66fe324197" >
		<http:listener doc:name="Listener" doc:id="6882d143-7dc3-4df7-bfb1-a2903cccbb80" config-ref="HTTP_Listener_config" path="/jen"/>
		<logger level="INFO" doc:name="Logger" doc:id="6a785bd6-a1c1-47ef-a7f9-335d0ed3bb04" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d8e6ad16-17da-406a-9994-d677abd60dba" />
	</flow>
</mule>
